body {
    color:rgb(255, 255, 255);
    background:#57cc02;
    margin: 0px;
    font-family: "Anton", sans-serif;
}

header {
    border-bottom: solid 5px #89e119;
    padding: 30px;
    font-size: 32px;
    
}

.chamada {
    background: #89e119;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}



.categorias {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.episodios {
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-size: 40px;
}

.categorias {
opacity: 0.5;

}

.categorias:hover {
    opacity: 1.0;
    
}

img {
    height: 200px;
}